.DS_Store
node_modules
.node-version
package-lock.json
# extract vfs_fonts.js.gz locally since it is very large
src/vfs_fonts.js
dist/
docs/rapipdf-min.js
docs/rapipdf-cli.js

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
